@import "tailwindcss";




@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@theme {
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
}

body {
  background: #303030;
  font-family: 'Inter', ui-sans-serif, system-ui, -apple-system, sans-serif;

}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

#root {
  height: 100%;
  overflow: hidden;
}

.bg {
  width: 325px;
  height: 185px;
  background-image: center;
  object-fit: contain;
  background-image: url("../public/Group\ 3.png");
}